3rdparty/boost
*.lib
*.opensdf
*.sdf
*.suo
*.tlog
*.lastbuildstate
*.log
*.obj
*.idb
*.cache
*.pch
*.pdb
*.unsuccessfulbuild
src/_UpgradeReport_Files/UpgradeReport.css
src/_UpgradeReport_Files/UpgradeReport.xslt
src/_UpgradeReport_Files/UpgradeReport_Minus.gif
src/UpgradeLog.XML